.navbar {
    margin-bottom: 0 !important;
}

.splash {
    background-image: url('../background.jpg');
    background-size: cover;
    padding-top: 50px;
}

.information {
    padding-left: 150px;
    padding-right: 150px;  
    padding-top: 150px;
    padding-bottom: 150px; 
    color: #FFF;
    text-shadow: 1px 1px #000;
}

.insurance_button {
    margin-top: 20px;
    background-color: red;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    padding: 20px;
}

.info_cards {
    margin-top: 20px;
}

.info_image {
    margin-bottom: 20px;
}